.input {
  display: flex;
  margin-bottom: 0.5rem;
  justify-content: space-between;
}

.input label {
  font-weight: bold;
  margin-right: 1rem;
}

.input input {
  width: 15em;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
}

.min{
  margin-top: 2px;
  padding-left: 0.3rem;
  font-size: smaller;
}

.min span{
  color: red;
}
.hi{
  color: green;
  font-family:squidFont;
}

.form_container{
  background-color:#131313;
  color: white;
}

.yes_btn{
  font-family: squidFont;
  border-radius: 100%;
  background-color: rgb(30, 146, 30);
  width: 7.3%;
  font-size: 25px;
  color: white;
  border: none;
}
.no_btn{
  font-family: squidFont;
  border-radius: 100%;
  background-color: rgb(211, 0, 0);
  width: 7.3%;
  font-size: 25px;
  /* padding: 10px; */
  color: white;
  border: none;
  margin-left: 3%;

}

.btn_container{
  margin-top: 5%;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;

}

.bline{
    border: 0;
    border-top: 1px solid rgb(56, 56, 56);
    width: 85%;
}

.confmsg{
  text-align: center;
}
