.FAQ {
  height: 100vh;
  width: 100vw;
  background-color: #131314;
  overflow-y: hidden;
  scroll-snap-align: start;
  position: relative;
}

.FAQ_top {
  width: 100%;
  position: absolute;
  z-index: 10;
  margin-top: -10px;
}

.top_wrap {
  position: relative;
}
.Faq_box {
  height: 22vh;
  width: 100%;
}
.Faq_logo {
  position: absolute;
  left: 0px;
  width: 85%;
  top: 3vh;
}
.FAQ_bottom {
  position: absolute;
  bottom: 0px;
  height: 15vh;
  width: 100%;
}
.Faq_bottom_box {
  width: 100%;
}
/* .Faq_logo{
  
} */

._card {
  height: 30vh;
  width: 10vw;
  border-radius: 30px;
  background-color: white;
  /* -webkit-box-shadow:0px 0px 46px 0px rgba(245,245,245,1);
	-moz-box-shadow: 0px 0px 46px 0px rgba(245,245,245,1);
	box-shadow: 0px 0px 46px 0px rgba(245,245,245,1); */
  margin-top: 20px;
  min-width: 8vw;
  min-height: 25vh;
  
}
._card-content {
  padding: 20px;
  overflow-y: scroll;
  height: 100%;
  word-wrap: break-word;
}

._card-content::-webkit-scrollbar {
  display: none;
}

.FAQ_center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
}

._container {
  display: flex;
  justify-content: center;
  width: 55% ;
  height: 80%;
}

#col {
}

._column_container {
  overflow-y: hidden;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column1 {
  position: absolute;
  height: 100%;
}





@media only screen and (max-width: 1500px)  {
  ._container{
    width: 60%;
  }
  ._card {
    min-width: 12vw;
    min-height: 32vh;
  }
  
}

@media only screen and (max-width: 1300px)  {
  ._container{
    width: 70%;
  }
  .Faq_logo {
    width: 80%;
    height: 50%;
    top: 5vh;
  }
  ._card {
    min-width: 16vw;
    min-height: 34vh;

  }
}

@media only screen and (max-width: 1050px) {
  ._card {
    min-width: 14vw;
    min-height: 37vh;

  }
  ._container {
    width: 50%;
  }
}
@media only screen and (max-width: 768px)  {
  ._card {
    min-width: 170px;
    min-height: 200px;
    background-color: white;
    cursor: pointer;
  }
  ._container{
    width: 90%;
  }
  .Faq_logo {
    width: 90%;
    height: 50%;
    top: 7vh;
  }
}

@media only screen and (max-width: 400px)  {
  ._card {
    min-width: 150px;
    min-height: 200px;
    background-color: white;
  }
  ._container{
    width: 90%;
  }
  .Faq_logo {
    width: 80%;
    height: 50%;
    top: 5vh;
  }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  ._card {
    min-width: 30vw;
    min-height: 32vh;

  }
  ._container{
    width: 70%;
  }
  .Faq_logo {
    width: 80%;
    height: 50%;
    top: 5vh;
  }
}
@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation:portrait){
  ._card {
    min-width: 28vw;
    min-height: 30vh;

  }
  ._container{
    width: 90%;
  }
  .Faq_logo {
    width: 80%;
    height: 50%;
    top: 5vh;
  }
}