
.profile {
    background-color: #131313;
    width: 100%;
    height: 80vh;
    overflow: scroll;
    border-radius: 10px;

}

.playerIdContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0px;
}

.playerIDText {
    color: white;
    font-family: squidFont;
    font-size: 1.5em;
    margin: 0px;
}
.playerId {
    border: 0px solid black;
    background-color: white;
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.playerId > img {
    cursor: pointer;

}

.playerId > p {
    font-family: squidFont;
    font-size: 1em;
}

.registeredEventsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85%;
}
.registeredEvents {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.registeredEvents::-webkit-scrollbar {
    display: none;
  }
  
.eventCard {
    margin: 20px;
    border: 0px solid black;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0,0.75);
    transition: transform 100ms;
    cursor: pointer;
    height: 50%;
    width: 40%;
}
.eventCard:hover {
    transform: scale(1.05);
}
.eventCard > img {
    object-fit: fill;
    width: 100%;
    height: 25vh;
    
}
.eventInfo {
    margin-top: -9px;
    border-radius: 10px;
    padding: 10px;
    padding-top: 20px;
    border: 1;
    background-color: white;
}
.eventInfo > h2 {
    font-size: 22px;
    font-weight: 600;
    font-family: squidFont;
}

.copyText{
    display: none;
    position: absolute;
    right: -40px;
    bottom: -10px;
    color: white;
    font-size: 12px;
    font-weight: 600;
}
.copyIcon:hover + .copyText{
    display: block;
}

.myEventsText {
    display: flex;
    justify-content: center;
     color: white;
     font-size: 1.5em;
    font-family: squidFont;
}

.mobile-no-container {
    color: white;
    font-family: squidFont;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0px;
}
.mobile-no > p{
    margin: 0px;
    font-size: 1.5em;
}
.mobile-input-container {
    border-radius: 20px;
    width: 50%;
}
.mobile-input-container  > input {
    height: 50px;
    width: 100%;
    padding: 10px;
    border-width: 0px;
    border-radius: 10px;
}
.mobile-input-container  > input:focus{
    outline-width: 0px;
}

.clg-name-container{
    color: white;
    font-family: squidFont;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0px;
}
.clg-name > p{
    margin: 0px;
    font-size: 1.5em;
}
.clg-input-container {
    border-radius: 20px;
    width: 50%;
}

.clg-input-container  > input {
    height: 50px;
    width: 100%;
    padding: 10px;
    border-width: 0px;
    border-radius: 10px;
}
.clg-input-container  > input:focus{
    outline-width: 0px;
}

.noEvents {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid white;
    height: 90%;

}
.noEvents > p{
    font-size: 2em;
    color: white;
    font-family: squidFont;
    width: 50%;
    text-align: center;
}
@media only screen and (max-width: 1030px){
    .playerIDText {
        font-size: 0.8em;
    }
    .playerId{
        width: 60%;
    }
    .playerId > p {
        font-size: 0.8em;
    }
    .copyText{
        z-index: 10;
        color: green;
        right: 10px;
        bottom: -18px;
    }

    .mobile-no > p{
        margin: 0px;
        font-size: 0.8em;
    }
    .mobile-input-container {
        width: 60%;
    }

    .clg-input-container {
        width: 60%;
    }
    .clg-name > p{
        font-size: 0.8em;        
    }

    .eventCard{
        height: 50%;
        width: 80%;
    }
    .noEvents > p{
        font-size: 1.8em;
        width: 90%;
    }
    .noEvents {

        height: 70%;
    
    }
}