.flip-card {
	background-color: transparent;
	position: relative;
	height: 13vw;
	width: 16vw;
	margin-left: 9%;
	display: flex;
	justify-content: center;
	/* margin: 20px 15px; */
	/* border-radius: 20px; */
	perspective: 1000px;
	font-family: squidFont;
}
.enter {
	animation: cardAnimate 0.8s ease;
	-webkit-animation: cardAnimate 0.8s ease;
	-moz-animation: cardAnimate 0.8s ease;
	-o-animation: cardAnimate 0.8s ease;
	-ms-transition: cardAnimate 0.8s ease;
	animation-fill-mode: backwards;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-ms-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
	transform-style: preserve-3d;
}

.flipped {
	transform: rotateY(180deg) translate(-2vw);
	position: relative;
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
	background-color: #111111;
}

.flip-card-front {
	transform: scale(0.7);
}

.flip-card-back {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 110%;
	/* color: white; */
	transform: rotateY(180deg) translate(5%, 14%) scale(1.1);
	z-index: 100;
	box-shadow: 12px 12px 7px black;
	height: 80% !important;
}

.avatar__image {
	/* width: 100%; */
	height: 100%;
	box-shadow: 12px 12px 7px black; /* border-radius: 20px; */
}

.flip {
	opacity: 0;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-ms-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
	transform-style: preserve-3d;
}

@keyframes cardAnimate {
	from {
		opacity: 0;
		transform: scale(0.3);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
.member__name {
	color: white;
	transform: inherit;
	font-size: 1vw !important;
	margin-bottom: unset !important;
	text-align: initial !important;
	margin-left: 5%;
}
.circle-img {
	border-radius: 10%;
	/* border: 0.2vw solid #fff; */
	width: 6vw;
	margin: 38% 2% 0 0;
	/* height: 7vw; */
	transform: inherit;
}
.details {
	width: 50%;
	color: white;
	margin-bottom: unset !important;
	word-break: normal;
	text-align: initial !important;
	margin-left: 5%;
}
