.events{
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  background-color: #FFFFFF;
  overflow: hidden;
}

#boxes{
  margin-top: 2rem;
  z-index: 2;
  position: relative;
}

.buttons{
  background-color: #FFFFFF;
  border-radius: 1rem;
  height: 7rem;
  width: 8rem;
  box-shadow:  rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
}

.buttons:hover{
  transform: scale(1.02) perspective(0px);
  box-shadow: 0 10px 10px #131314;
}

@media (min-width: 1366px) {
  .buttons{
    width: 12vw;
  }
  
  .kidsRight{
    height: 18rem;
    margin-top: -3rem;
  }
}

#button1{
  margin-right: 1rem;
}

#button2{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#button3{
  margin-left: 1rem;
}

.dollLeft{
  width: 20vw;
  height: 30vh;
}

.kidsRight{
  width: 25vw;
  height: 35vh;
  margin-top: -3rem;
  float: right;
}

#backgroundElements{
  margin-top: -7rem;
  position: relative;
  z-index: 1;
}

.doll{
  float:left;
}

.kids{
  float:right;
}

#talk1{
  width:20vw;
  height:30vh;
  margin: auto;
  margin-top:2rem;
  margin-left:2rem;
  border-radius:5px
}

#workshop1{
  width:20vw;
  height:30vh;
  margin-top:2rem;
  margin-left:2rem;
  border-radius:5px
}

#workshop2{
  width:20vw;
  height:30vh;
  margin-top:2rem;
  margin-left:2rem;
  border-radius:5px
}

@media (max-width: 500px){
  #talk1{
    width:50vw;
  }

  #workshop1{
    width:35vw;
    height:25vh;
    margin-top:2rem;
    border-radius:5px;
    margin-left: 0
  }

  #workshop2{
    width:35vw;
    height:25vh;
    margin-top:2rem;
    border-radius:5px
  }

  .backgroundElements{
    display: none;
  }

  .backgroundLine{
    display: none;
  }

  .buttons{
    width: 6rem;
    height: 5rem;
  }
  
  #button1{
    margin-left: 2rem;
    margin-right: 0.5rem;
  }

  #button3{
    margin-right: 2rem;
    margin-left: 0.5rem;
  }

  .eventsHeading{
    display: none;
  }

  #boxes{
    margin-top: 7rem;
  }

  .carousel{
    margin-top: 10vh;
    height: 55vh !important;
  }

  .eventDescription{
    background-color: #111111;
    position: relative;
    z-index: 1000;
    color: white;
    display: flex;
    flex: 5;
    font-size: 4vw;
    overflow: scroll;
    overflow-x: hidden;
    margin: 0px 20px 20px;
    text-align: center;
    border: solid 3px black;
    border-radius: 30px;
    padding: 10px;
    height: fit-content;
    box-shadow: inset black 0px 0px 30px 0px;
    flex-direction: column;
    margin-top: -9rem !important;
  }

}

.carousel {
  background-color:#131314;
  height: 70vh;
  margin-top: 20vh;
  z-index: 1;
}

.event_slider {
  width: 55vw;
  background-color: #131314;
  margin-left: 23vw;
  padding-top: 4vh;
}

.event_slide {
  margin-left: 2.9vw;
  height: 24vh;
  border-radius: 2vh;
  transform: scaleY(0.9);
}

.slick-center {
  transform: scale(1.1);
  position: relative;
  z-index: 1000;
}

ul.slick-dots {
  background-color: #131314;
  width: 60%;
  left: 10vw;
  height: 2vh;
  overflow: hidden;
}

li.slick-active {
  background-color: #712845;
}

.slick-dots li.slick-active button:before {
  color: #712845 !important;
}

.slick-dots button:before {
  color: #131314 !important;
}

@media only screen and (max-width: 1000px) {
  .event_slider {
    width: 45vw;
    margin-left: 28vw;
  }
  .event_slide {
    margin-left: 3.5vw;
  }
  ul.slick-dots {
    width: 70%;
    left: 8vw;
  }
  ul.slick-dots > li {
    width: 10px;
  }
}

@media only screen and (max-width: 650px) {
  .event_slider {
    width: 70vw;
    margin-left: 15vw;
    padding-top: 20vh;
  }

  .event_slide {
    margin-left: 5.5vw;
  }
}

@media only screen and (max-width: 450px) {
  .event_slider {
    width: 90vw;
    margin-left: 5vw;
    padding-top: 20vh;
  }

  div.slick-list {
    width: 90vw;
  }

  div.slick-slider {
    display: flex;
    flex-direction: column;
  }

  .event_slide {
    margin-left: 7vw;
  }

  ul.slick-dots {
    width: 90vw;
    left: 1vw;
  }
}





