.swiper-button-next { 
      color: white; 
}

.swiper-button-prev{
      color: white;
}

.swiper-container {
      width: 70%;
      height: 80%;
      /*this gives the dimension of slider container*/
      /*these values will make the container as big as the parent div*/
      overflow: hidden;
      /*important parameter to not disrupt the container when slides increases in coverflow and other effect*/
}



      