.rowDiv {
	/* display: flex; */
	position: relative;
	flex-direction: row;
	justify-content: center;
	margin-top: -6vw;
	/* width: 10%; */
}
.rowDiv:hover {
	/* z-index: 1000 !important; */
	animation: animatethis 0.4s ease;
	animation: animatethis 0.4s ease;
	-webkit-animation: animatethis 0.4s ease;
	-moz-animation: animatethis 0.4s ease;
	-o-animation: animatethis 0.4s ease;
	-ms-transition: animatethis 0.4s ease;
	animation-fill-mode: forwards;
}
.colDiv {
	display: flex;
	flex-direction: column;
	padding-top: 8vw;
	width: 80%;
	margin-left: 9%;
	justify-content: center;
	/* align-items: center; */
}

@keyframes animatethis {
	from {
		z-index: 99;
		transform: scale(1);
	}
	50% {
		z-index: 99;
	}
	to {
		z-index: 1000;
		transform: scale(1.1);
	}
}
.slick-slide:first-child {
	margin-left: -1%;
}
