.rowDiv {
	/* display: flex; */
	position: relative;
	flex-direction: row;
	justify-content: center;
	margin-top: -5.5vw;
	/* animation: animatethis 0.2s ease;
	animation: animatethis 0.2s ease;
	-webkit-animation: animatethis 0.2s ease;
	-moz-animation: animatethis 0.2s ease;
	-o-animation: animatethis 0.2s ease;
	-ms-transition: animatethis 0.2s ease;
	animation-direction: reverse; */
	/* width: 10%; */
}
.rowDivMobile {
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.rowDiv:hover {
	z-index: 1000 !important;
	animation: animatethis 0.4s ease;
	animation: animatethis 0.4s ease;
	-webkit-animation: animatethis 0.4s ease;
	-moz-animation: animatethis 0.4s ease;
	-o-animation: animatethis 0.4s ease;
	-ms-transition: animatethis 0.4s ease;
	animation-fill-mode: forwards;
}
.colDiv {
	display: flex;
	flex-direction: column;
	padding-top: 5vw;
	width: 80%;
	margin-left: 9%;
	justify-content: center;
	/* align-items: center; */
}

@keyframes animatethis {
	from {
		z-index: 99;
		/* transform: scale(1); */
	}
	50% {
		z-index: 99;
	}
	to {
		z-index: 1000;
		/* transform: scale(1.1); */
	}
}
.slick-slide:first-child {
	margin-left: -1%;
}

@media only screen and (max-width: 768px) {
	.rowDiv {
		/* height: 16vw; */
		/* margin-top: 5vw; */
	}
	.slick-arrow {
		display: none !important;
	}
	.slick-initialized .slick-slide {
		display: flex;
		justify-content: center;
	}
	.mod {
		display: none !important;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100px !important;
		/* width: 30vw; */
	}
	.flip-card {
		height: 50vw;
		width: 100%;
	}
	.rowDiv {
		display: none;
	}
	.rowDivMobile {
		display: flex;
	}
	.flip-card {
		margin-top: -12vw;
	}
	.flipped {
		transform: translateX(0vw) rotateY(180deg);
	}
	.colDiv {
		margin-top: 20vw;
	}
	.flip-card-back {
		width: 70%;
		/* color: white; */
		transform: rotateY(180deg) translate(-22%, 12%) scale(1.1);
	}
	.circle-img {
		width: 20vw;
	}
	.details {
		font-size: 2vw !important;
	}
	.member__name {
		font-size: 3vw !important;
	}
}
.carousalDiv {
	overflow: scroll;
}
.slick-slider {
	width: 105%;
}
.slick-track:hover {
	z-index: 1000 !important;
}
