.home {
  display: flex;
  background-image: url("./assets/bgimg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: start;
}

.centreSymbolContainer {
  width: 50vh;
  height: auto;
}

.centreSymbolContainer img {
  width: 100%;
  height: auto;
}

.home_mob {
  display: flex;
  background-image: url("./assets/bgimg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: start;
}
.left_div {
  display: flex;
  flex: 0.6;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}
.center_div {
  display: flex;
  flex-direction: column;
  flex: 2;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-right: 100px;
  margin-bottom: 50px;
}
.top_div {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  flex: 2;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.bottom_div {
  display: flex;
  flex-direction: row;
  flex: 0.6;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}
.right_div {
  display: flex;
  flex: 0.7;
  height: 100%;
  flex-direction: column;
  position: relative;
}

.center_symbol_mob {
  height: 40vh;
  max-height: 60%;
  min-height: 250px;
}
.left_symbol {
  position: absolute;
  height: 80vh;
  max-height: 80%;
  bottom: 0;
  right: 75%;
  opacity: 50%;
}
.festLogo {
  width: 30vw;
}
.number_text {
  display: flex;
  font-family: squidFont;
  color: #006963;
  font-size: 5vw;
  justify-content: center;
}
.number_text_mob {
  display: flex;
  font-family: squidFont;
  color: #006963;
  font-size: 10vw;
  justify-content: center;
}

.fes_title {
  width: 30vw;
}
.fes_title_mob {
  width: 60%;
}
.title_text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: squidFont;
  color: #ffffff;
  font-size: 2vw;
  padding-left: 0;
}
.title_text_mob {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: squidFont;
  color: #ffffff;
  font-size: 3vw;
  padding-left: 0;
}

.buttonsDiv {
  display: flex;
  position: absolute;
  bottom: 20%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.buttonsDiv_mob {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}
.buttonGlow {
  display: flex;
  background-color: #ffffff;
  margin-top: 30px;
  font-size: 20px;
  width: 100%;
  border-radius: 50px;
  justify-content: center;
  align-items: space-around;
  padding: 5px 20px;
  font-family: squidFont;
  box-shadow: 0 0 20px white;
  cursor: pointer;
}
.buttonGlow_mob {
  display: flex;
  background-color: #ffffff;
  margin-top: 15px;
  font-size: 3vw;
  width: 100%;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  font-family: squidFont;
  box-shadow: 0 0 20px white;
  cursor: pointer;
}
.buttonGlow:hover {
  animation: glowing 1300ms;
}
@keyframes glowing {
  0% {
    background-color: white;
    box-shadow: 0 0 20px white;
  }
  50% {
    background-color: white;
    box-shadow: 0 0 5px white;
  }
  100% {
    background-color: white;
    box-shadow: 0 0 20px white;
  }
}

.top_gallery {
  display: flex;
  flex-direction: column;

  transform: skewX(-25deg);

  position: absolute;
  top: 0;
  right: 80%;

  height: 65%;
  width: 60%;
  max-width: 200px;
  margin-top: -3px;

  border: solid 5px white;
  outline: solid 2px black;
  outline-offset: -5px;
  box-shadow: inset black 0px 0px 30px 0px;
  /* border-radius: 30px; */
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  overflow: hidden;
}
.top_gallery::after {
  box-shadow: inset 0px 0px 30px 0 #000000;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.bottom_gallery {
  display: flex;
  flex-direction: column;

  transform: skewX(-25deg);

  position: absolute;
  bottom: 0;
  right: 50%;

  height: 65%;
  width: 60%;
  max-width: 200px;
  margin-bottom: -3px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  border: solid 5px white;
  outline: solid 2px black;
  outline-offset: -5px;
  overflow: hidden;
}
.bottom_gallery::after {
  box-shadow: inset 0px 0px 30px 0 #000000;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
