.navContainer {
	position: fixed;
	top: 4em;
	width: 100%;
}

.stripContainer {
	height: auto;
	width: 50%;
}

.stripContainer img {
	width: 100%;
	height: auto;
	opacity: 0.5;
}

.navElemsContainer {
	height: 100%;

	/*Overflow width*/
	width: 46%;
	position: absolute;
	/*top: 0.5em;*/
	top:55%;
	transform: translateY(-50%);
	display: flex;
	overflow: scroll;
}

.navbar {
	z-index: 100;
}

@media only screen and (max-width: 1200px) {
	.navbar {
		font-size: 12px;
	}
}

@media only screen and (max-width: 500px) {
	.navbar {
		font-size: 11px;
	}

	.navContainer {
		top: 2em;
	}

	.stripContainer{
		width: 150%;
	}

	.navElemsContainer{
		width: 96%;
	}
}
