.firstItem{
  width: fit-content;
  --width : fit-content;
  height: 75%;
  padding: 0 3em 0 1.6em;
  justify-content: center;
  display: flex;
}

.restItems{
  width: auto;
  height: 80%;
  display: flex;
  align-content: center;
  flex: 0 0 auto;
  justify-content: space-between;
}

.restItems,.firstItem a{
  display: flex;
  align-items: center;
}
