.contactUs {
	height: 100vh;
	width: 100%;
	scroll-snap-align: start;
	background-color: #131314;
}
.heading_c {
	margin-top: -3vw;
	margin-left: 5vw;
	width: 47vw;
}

@media only screen and (max-width: 768px) {
	.contactUs {
		height: 100%;
	}
	.flip-card-back {
		box-shadow: none;
	}
}
