.loginPage {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #131314;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
}
.left_image {
  position: absolute;
  left: 0;
  height: 80vh;
  bottom: 0;
}
.right_image {
  position: absolute;
  right: 0;
  height: 80vh;
  bottom: 0;
}
.welcome_title {
  align-self: flex-end;
  width: 90vw;
}
.welcome_mobile {
  display: none;
}
.mainContent {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 450px;
  height: 450px;
  position: relative;
}
.logininDiv {
  position: absolute;
  top: 0;
  display: flex;
  height: 85%;
  flex-direction: column;
  background-color: #eaeaea;
  width: 100%;
  border-radius: 50px;
  box-shadow: black 0px 5px 15px 0px;
  z-index: 1;

  font-family: squidFont;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
.login_text {
  font-size: 2em;
  color: #f24687;
  margin-bottom: 0;
}
.input_div {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 80%;
}
.input_label {
  font-size: 1em;
  margin-bottom: 5px;
  margin-top: 10px;
}
input[type="text"] {
  border: none;
  border-radius: 10px;
  background-color: black;
  font-family: squidFont;
  color: white;
  width: 100%;
  padding: 5px 10px;
}
input[type="password"] {
  border: none;
  border-radius: 10px;
  background-color: black;
  color: white;
  width: 100%;
  padding: 5px 10px;
}

input[type="number"] {
  border: none;
  border-radius: 10px;
  background-color: black;
  font-family: squidFont;
  color: white;
  width: 100%;
  padding: 5px 10px;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.signupButtonDiv {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  background-color: #eaeaea;
  width: 80%;
  height: 50%;
  border-radius: 30px;
}
.signupButton {
  display: flex;
  width: 40%;
  height: 25%;
  border-radius: 50px;
  font-family: squidFont;
  color: #f24687;
  font-size: 1.7em;

  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.closeButton {
  display: flex;
  width: 40%;
  height: 25%;

  border-radius: 50px;
  justify-content: center;
  font-family: squidFont;
  color: black;
  font-size: 1.7em;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .left_image {
    visibility: hidden;
  }
  .right_image {
    visibility: hidden;
  }
  .loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 70%;
    position: relative;
  }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  .left_image {
    visibility: hidden;
  }
  .right_image {
    visibility: hidden;
  }
  .loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 55%;
    position: relative;
  }
  .welcome_title {
    display: none;
  }
  .welcome_mobile {
    display: flex;
    font-family: squidfont;
    align-self: center;
    justify-self: center;
    font-size: 2em;
    color: white;
    padding-top: 20px;
  }
}
