.input {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  justify-content: space-between;
}

.input label {
  font-weight: bold;
  margin-right: 1rem;
}

.input input {
  width: 10em;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
}
